* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 140px;
  font-weight: 100;
  font-size: 30px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}

.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background: #efefef;
}

.shape {
  margin-left: 100px;
  width: 200px;  
  height: 200px;
  background: red;
  transform: skewX(30deg);
}
