* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 140px;
  font-weight: 100;
  font-size: 30px;
}

a {
  color: blue;
  text-decoration: none;
}

.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background: #efefef;
}

.shape {
  margin: 85px;
  width: 200px;  
  height: 200px;
  background: blue;

}

@keyframes spin {
  0% {
   transform: rotate(0deg);
  }
  25% {
   transform: rotate(120deg);
  }
  100% {
   transform: rotate(270deg);
  }
}

@keyframes squiggle {
  0% {
   background: transparent;
   transform: scale(1.0) rotateZ(0deg);
  }
  25% {
   background: transparent;
   transform: scale(1.0) rotateZ(0deg);
  }
  90% { 
  transform: scale(1.4) rotateZ(45deg); 
}
  100% {
   background: transparent;
   transform: scale(1.2) rotateZ(45deg);
  }
}



.variation-1 {
  animation-name: squiggle ;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal; 
  background: transparent; 
 border-top: 100px solid transparent;
 border-right: 100px solid transparent;
 border-bottom: 100px solid transparent;
 border-left: 100px solid violet;
}



}

.variation-2 {  
  animation-name: spin ;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; 

}

.variation-3 {
    animation-name: spin ;
  animation-duration: 3s;
  animation-iteration-count: 4;
  animation-direction: reverse; 

}
